<h2 mat-dialog-title style="font-weight: 500;">Change Password</h2>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Old Password</mat-label>
      <input matInput [(ngModel)]="oldPassword" name="oldPassword" type="password" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input matInput [(ngModel)]="newPassword" name="newPassword" type="password" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirm New Password</mat-label>
      <input matInput [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-raised-button (click)="onNoClick()">Cancel</button>
      <button mat-flat-button color="primary" type="submit">Change Password</button>
    </div>
  </form>
</mat-dialog-content>
