.welcome-title h2{
    font-size: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.welcome-content mat-card-content{
    font-weight: 200;
    font-style: italic;
}



.welcome-content mat-card-content{
    position: relative;
    margin-left: 500px;
    bottom: 480px;
}

.welcome-content h4{
    position: relative;
    left: 500px;
    bottom: 480px;
    font-size: 20px;
    margin-left: 15px;
}

.welcome-title-1 h4{
    margin-top: 20px;
    margin-left: 10px;
    color: #216a6a;
}

.welcome-content-2 mat-card-content{
    position: relative;
    margin-left: 500px;
    bottom: 440px;
}

.welcome-content-2 h4{
    position: relative;
    margin-left: 520px;
    bottom: 450px;
}
