// Gordon College Primary Colors
// $foreground-color: darkgreen;
// $background-color: lightgray;
$sidenav-background: rgba(56, 56, 56, 1);
$sidenav-fontcolor: white;

$color-primary: rgba(71, 129, 203, 1);
$color-success: rgba(0, 122, 24, 1);
$color-secondary: rgba(255, 127, 80, 1);
$color-info: rgba(85, 106, 228, 1);
$color-warning: rgba(219, 197, 1, 1);
$color-danger: rgba(174, 0, 0, 1);
$color-rose: rgba(246, 176, 255, 1);
$color-dark: rgba(94, 94, 94, 1);
$color-light: rgba(240, 240, 240, 1);
$color-black: rgb(0, 0, 0);

$color-primary-20: rgba(71, 129, 203, .2);
$color-success-20: rgba(0, 122, 24, .2);
$color-secondary-20: rgba(255, 127, 80, .2);
$color-info-20: rgba(85, 106, 228, .2);
$color-warning-20: rgba(219, 197, 1, .2);
$color-danger-20: rgba(174, 0, 0, .2);
$color-rose-20: rgba(246, 176, 255, .2);
$color-dark-20: rgba(94, 94, 94, .2);
$color-light-20: rgba(240, 240, 240, .2);

$color-primary-10: rgba(71, 129, 203, .1);
$color-success-10: rgba(0, 122, 24, .1);
$color-secondary-10: rgba(255, 127, 80, .1);
$color-info-10: rgba(85, 106, 228, .1);
$color-warning-10: rgba(219, 197, 1, .1);
$color-danger-10: rgba(174, 0, 0, .1);
$color-rose-10: rgba(246, 176, 255, .1);
$color-dark-10: rgba(94, 94, 94, .1);
$color-light-10: rgba(240, 240, 240, .1);

// $foreground-color: #1976d2;
$foreground-color: #4781cb;
$background-color: #fafafa;

$color-primary: #4781cb;
$color-primary-20: rgba(71, 129, 203, .2);

$alt-color-primary: #4781cb;
$alt-color-secondary: #ff7f50;
$alt-color-info: #01bbd5;
$alt-color-warning: #e3dc2a;
$alt-color-danger: #e81f62;
$alt-color-dark: #617c8b;



